body {
    background-color:#111;
    color:white;
    font-family:Georgia, serif;
}


 h1{
     font-family:Impact, Charcoal, sans-serif;
     font-weight:400;
     height: 60px;
     width:100%;
     background:#111;
     line-height:60px;
     color:white;
     
 }


/*side navigation bar*/
.sidenav{
    height:100%;
    width:190px;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x: hidden;
    padding-top: 20px;
  
    
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display:block;
    font-family:Georgia, serif;
    font-weight:bold;
    
}
.sidenav a:hover{
    color:#f56012;
}

.main{
    margin-left:190px; /*same as the width of the sidenav*/
     
    padding: 0px 10px;
}

@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size:18px;}
}

h3.indent{
    text-indent: 20%;
}
.date{
    background-color:#f56012;
    color:white;
    line-height:40px;
    width:260px;
    margin:2px;
    padding:5px;
    text-align:center;
    border-radius:5px;
}

.line{
    border-bottom:2px solid #f56012;
}
/*footer on master page*/
footer{
    text-align:center;
    padding:2px 1px 1px 1px;
    /*
    position:fixed;
    left:5em;
    bottom:0;
    width:100%;
    */
}
html{
    background:#111;
}

/*Willies Logo*/
.header{
    margin-left:190px; /*same as the width of the sidenav*/ 
    padding: 0px 10px;
    background:#111;
    text-align:center;
}

/*Gallery Page*/
  .carousel-inner img {
      width: 50%;
      height: 50%;
      text-align:center;
      display:block ;
      margin-left: auto;
      margin-right: auto; 
  }


/*Merchandise Page*/
div.gallery{
    margin:5px;
    border:1px solid #ccc;
    float:left;
    /*width: 180px;*/
}

div.gallery img{
    width:100%;
    height:auto;
}

div.desc{
    padding:15px;
    text-align:center;
    color:white;
}

.orange{
    color:#f56012;
}

/*Home Page*/

.container{
   position: relative;
   max-width:900px;
   margin: 0 auto;
   padding-left:0;
   padding-right:0;
}

.container .content{
    position:absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width:100%;
    padding:20px;
    text-align:center;
}
